.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}


.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* fonts end */