.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* fonts end */
body {
  background: #f5f8ff;
}
/* shared styles */

.title-color {
  color: #252432;
}
.para-color {
  color: rgba(0, 0, 0, 0.5);
}

.para-color-2 {
  color: rgb(95, 94, 100);
}
.btn-primary {
  color: #ffffff;
  border-radius: 10px;
  background-color: #4e47ff;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 36px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: rgb(23, 177, 128);
}
.shared-title {
  font-weight: bold;
  font-size: 42px;
}
a {
  text-decoration: none;
  color: #ffffff;
}

section {
  margin-bottom: 200px;
}

/* header styles */
.header {
  background-image: url("../Assets/Hero-bg.png");
  margin-top: 0px;
}
/* navbar styles start */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
  align-items: center;
}
.logo {
  font-weight: 900;
  font-size: 34px;
  color: #4e47ff;
}
.nav-btn {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  height: 48px;
}

/* navbar styles End */

/* banner starts */
.banner {
  padding: 150px 250px;
  text-align: center;
}

.banner-title {
  color: #252432;
  font-weight: bold;
  font-size: 65px;
}

/* header end */

/* main start */
/* action start */
.action-para {
  font-weight: normal;
  font-size: 24px;
}

.action {
  display: flex;
  justify-content: space-between;
  margin: 100px 150px;
  align-items: center;
}
.action-description {
  width: 517px;
}
.action-image {
  width: 450px;
  border-radius: 50px;
}
/* action end */

/* join start */
.join-container {
  padding: 50px 140px;
  text-align: center;
  background-color: rgba(78, 71, 255, 0.1);
  margin: 120px 150px;
  border-radius: 20px;
}

.number-stat {
  font-weight: bold;
  font-size: 80px;
  color: #4e47ff;
  margin-bottom: 0px;
}
.stat-name {
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1px;
}
.users {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  
  
}

.user-statistics {
  text-align: center;
  align-items: center;
  margin-top: 1px;
}
/* user end */

/* review start*/
.users-reveiw {
  text-align: center;
  padding: 0px 100px;
}
.reveiws {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  
}
.reveiwers {
  background-color: #f2eded;
  border-radius: 10px;
  box-shadow: rgb(190, 188, 188) 0px 2px 8px;
  padding: 24px;
  text-align: start;
  width: 370px;
}
.reveiw-title {
  font-weight: 600px;
  font-size: 24px;
  color: #1e1e1e;
  margin-bottom: 24px;
  margin-top: 24px;
}
.reveiw-text {
  font-weight: normal;
  font-size: 16px;
  color: #1e1e1e;
  width: 320px;
  margin-bottom: 24px;
}
.reveiwer-name {
  font-weight: 600;
  font-size: 16px;
  color: #757575;
}
.dates {
  font-weight: normal;
  font-size: 16px;
  color: #b3b3b3;
}
.star-img {
  margin-bottom: 24px;
}
.reveiwer-image {
  border-radius: 50%;
}
.reveiwer-footer {
  display: flex;
  width: 320px;
  height: 46px;
  align-items: center;
  gap: 12px;
}
/* review end */
/* form */
.form-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;

  align-items: center;
}
label,
input {
  display: block;
}
label {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}
input {
  background-color: #ffffff;

  font-size: 20px;
  height: 70px;
  width: 500px;
  padding: 10px;
  color: rgb(135, 139, 139);
  border-radius: 10px;
  border-style: none;
  box-shadow: rgb(190, 188, 188) 0px 2px 8px;
  /* box-shadow: 1px 1px 1px 1px black; */
  margin-top: 15px;
}
textarea {
  background-color: #ffffff;

  font-size: 20px;
  height: 100px;
  width: 500px;
  padding: 10px;
  color: rgb(160, 165, 165);
  border-radius: 10px;
  border-style: none;
  box-shadow: rgb(190, 188, 188) 0px 2px 8px;
}
.form-header {
  font-weight: bold;
  font-size: 97px;
  width: 500px;
  color: rgba(0, 0, 0, 1);
}
.form-class {
  width: 500px;
}
.submit-btn {
  width: 520px;
  border-radius: 10px;
}
/* main end */

/* footer start
 */

li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}

footer {
  text-align: center;
  background-color: #ffffff;
  padding: 100px 450px;
}
.footer-div {
}
.footer-description {
  font-weight: normal;
  font-size: 16px;
  color: #8987a1;
}

.footer-nav,
.footer-description,
.footer-title {
  margin-bottom: 15px;
}
.footer-title {
  font-weight: 900;
  color: #4e47ff;
  font-size: 100px;
}

.footer-nav li a {
  text-decoration: none;
  display: inline;
  color: #8987a1;
}
